@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1cd364;
  --second: #b6a475;
  --white: #ffffff;
  --black: #000000;
  --buttons: #7cdf9d;
}
body {
  background: var(--background);
  color: var(--white);
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  overflow: hidden;
}

.speed {
  position: absolute;
  bottom: 20px;
  background: var(--black);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  padding: 5px;
  font-size: 18px;
  background-color: var(--buttons);
  border: none;
  text-align: center;
}
input:focus { outline: none; }
