@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #1cd364;
  --second: #b6a475;
  --white: #ffffff;
  --black: #000000;
  --buttons: #7cdf9d;
}
body {
  background: var(--white);
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow-x: hidden;
}
